@{
    ViewData["Title"] = "Student Dashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="container">
    <h1 class="display-4 text-center">Welcome to Your Dashboard</h1>
</div>
